= stylesheet_link_tag 'home', media: 'all'

.container-fluid.background-img
  %p.title.white Welcome to Zijiang Yang's home page!
  %p.know-me-btn
    %a.btn.btn-primary.btn-lg{:href => "about", :role => "button"} Get to know me &raquo;


