%style .background-img { background-image: url('#{image_url('main-page-background.jpg')}');}
= stylesheet_link_tag 'index', media: 'all'

.container-fluid.background-img 
  %p.title.white Welcome to Zijiang Yang's home page!
  %p.know-me-btn
    %a.btn.btn-primary.btn-lg{:href => "#", :role => "button"} Get to know me &raquo;


