.carousel .item{
    background: #616366;
    height: 600px;
}

.img {
    width: 100%;
    height: 100%;
}

#profile-photo {
    width: 200px;
    height: 200px;
}

.top-buffer { 
    margin-top:30px; 
}

.bottom-padding {
    padding-bottom: 30px;
}

.horizontal-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#person-basic-info {
    text-align: center;
    margin-top: 10px;
}

#person-description {
    font-size: 25px;
}

.section-title {
    font-size: 70px; 
}

.section-subtitle {
    font-size: 25px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.bottom-border {
    border-bottom-style: solid;
    border-width: 1px;
}

.skill-border {
    border-left-style: ridge;
    border-left-width: 5px;
    border-bottom-style: inset;
    border-bottom-width: 2px;
    padding: 10px;
    margin-top: 10px;
}

.skill-text {
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
    color: #608dd6;
}

.float-right {
    float: right;
}

.popover {
    min-width: 200px;
}

.interest-border {
    border: 1px solid #c9cfd8;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px; 
}

.interest-text {
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #c66e4b;
}

.language-border {
    padding: 10px;
    margin-top: 10px;
}

.language-name {
    font-size: 20px;
    font-family: Georgia, serif;
}

.language-proficiency {
    font-family: "Courier New", Courier, monospace;
    margin-left: 20px;
    font-size: 12px;
}
