$img-dim: 200px;

.carousel {
    .item{
        background: #616366;
        height: 500px;

        img {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            overflow: auto;
            min-width: 100%;
            min-height: 100%;
        }
    }
}

.carousel-caption {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img {
    width: 100%;
    height: 100%;
}

#profile-photo {
    max-width: $img-dim;
    max-height: $img-dim;
}

.top-buffer { 
    margin-top: 30px; 
}

.bottom-padding {
    padding-bottom: 30px;
}

.horizontal-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#person-basic-info {
    text-align: center;
    margin-top: 10px;
}

#person-description {
    font-size: 25px;
}

.section-title {
    font-size: 70px; 
}

.section-subtitle {
    font-size: 25px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bold;
}

.top-border {
    border-top-style: solid;
    border-width: 1px;
}

.skill-border {
    border-left-style: ridge;
    border-left-width: 5px;
    border-bottom-style: inset;
    border-bottom-width: 2px;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
}

.skill-text {
    font-size: 20px;
    font-family: Georgia, serif; 
    color: #608dd6;
}

.float-right {
    float: right;
}

.popover {
    max-width: 100%;
    min-width: 200px;
}

.interest-border {
    border: 1px solid #c9cfd8;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px; 
}

.interest-text {
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #c66e4b;
}

.language-border {
    padding: 10px;
    margin-top: 10px;
}

.language-name {
    font-size: 20px;
    font-family: Georgia, serif;
}

.language-proficiency {
    font-family: "Courier New", Courier, monospace;
    margin-left: 20px;
    font-size: 12px;
}

.education-img-container {
    width: $img-dim;
    height: $img-dim;
}

.education-time {
    font-style: italic;
}

.education-description {
    font-weight: 200;
    font-size: 20px;
    font-style: italic;
}

.education-table {
    td {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.table-legend {
    width: 200px;
    font-weight: bold;
    font-size: 20px;
    vertical-align: top;
}

.table-content {
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}

.project-area {
    padding: 10px;
    min-width: 500px;
    max-width: 800px;
}

.project-name {
    font-size: 30px;
    font-weight: bold;
}

.project-time {
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.project-description,
.common-description {
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
}

.common-description {
    max-width: 500px;
}

.non-indent-list {
    list-style-position: none;
    list-style-type: disc;
    padding-left: 20px;
}

#education-section {
    .course-item,
    .project-item  {
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 18px;
    }
}

.left-buffer {
    margin-left: 10px;
}

.popover-icon {
    font-size: 15px;
    color: #6490d6;
}

.link {
    color: #6490d6;
}

.link:not(.disabled) {
    cursor: pointer;
}

.link:not(.disabled):hover {
    text-shadow: 1px 1px 1px #555;
}

.border-link {
    padding: 10px 10px 10px 0px;
    border: 1px solid transparent; 
}

.border-link:not(.disabled) {
    cursor: pointer; 
}

.border-link:not(.disabled):hover {
    border-color: #6490d6; 
    border-radius: 20px;
    padding-left: 10px;
}

.job-img-container {
    width: $img-dim;
    height: $img-dim;
}

.job-title {
    font-size: 16px;
    font-family: "Lucida Console", Monaco, monospace; 
}

.job-time {
    font-style: italic;
}

.job-description {
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}

.job-project-section {
    margin-top: 15px;
}

.job-project-section-title {
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, sans-serif; 
}

#job-section {
    .project-item {
        font-size: 18px; 
    }
}

.honor-name {
    font-size: 20px;
    font-weight: bold;
}

.honor-granted-by {
    font-size: 13px;
    font-family: "Lucida Console", Monaco, monospace; 
    margin-left: 10px; 
}

.honor-time {
    font-style: italic;
}

.honor-description {
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
}

.publication-name {
    font-size: 20px;
    font-weight: bold;
}

.publication-time {
    font-style: italic;
}

.publication-description {
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
}
