.background-img {
    background-image: image_url('main-page-background.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 800px;
    height: 0;
    padding-top: 56.25%; /* (img-height / img-width * container-width) */
                /* (1836 / 3264 * 100) */
} 

.title {
    margin-top: -46.25%; /* actual-margin - padding-top */ 
    font-size: 50px;
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
}

.know-me-btn {
    margin-top:5%;
    margin-left: 20%;
}
